<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400|Roboto:100,300i|Rochester" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="header" >
  <div class="tagline" >
    <a href="/" ><span>i</span>bento</a>
  </div>  
<div class="eventDeck"> <div data-index="1"><div data-index="2" style="background-image: url(<%= event.imageURL %>);"></div><div data-index="3"><p class="date"><%= event.date.toDateString() %></p><p class="titleF"><%= event.title %></p><p class="department"><%= event.department %></p><p class="button">
  
  <a class="regBtn" >Register</a>
  </p></div></div></div>
</div>
<div class="eventXtra" >
  <div class="hashtags" >
     <% event.hashtags.forEach(function(hash){ %>
               #<%= hash.tag %>&nbsp
              <% }) %>
      
  </div>
       <div data-index="1" >
         <div data-index="2" ><h2>
           Description
           </h2>
         <p>
           <%= event.description %>
           
           </p>
            <h2>
              Agenda
            </h2>
            <div class="agenda">
             
               <% event.agenda.forEach(function(agenda){ %>
               <p><span><%= agenda.agendaDate.toDateString() %></span> <span><%= agenda.agendaInfo %></span></p>
              <% }) %>
            </div>
         </div>
          <div data-index="3" >
            <h2>
              Organiser
            </h2>
           
                <h2>
                   Presenters
                 </h2>
                 <div class="presenters" >
                   <% event.presenters.forEach(function(presenter){ %>
             <p>
               <a href="/user/<%= presenter.username  %>" ><%= presenter._id  %></a>
                     </p> 
              <% }) %>
                 </div> 
          </div>
       </div>
</div>
<script>
document.querySelector(".regBtn").onclick = function() {
var xhr = new XMLHttpRequest();
var url = "/register";
xhr.open("POST", url, true);
xhr.setRequestHeader("Content-type", "application/json");
xhr.onreadystatechange = function () { 
    if (xhr.readyState == 4 && xhr.status == 200) {
        
        console.log("")
    }
};
var data = JSON.stringify({"username":"<%= currentUser.username %>"});
xhr.send(data);
};
</script>
</body>
</html>